*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 85%; 
}

html {
    scroll-behavior: smooth;
}

html body {
    overflow-x: hidden;
    background: linear-gradient(
        -45deg, rgb(249, 212, 218) 0%, #FFFFFF 100%
    ) center/cover;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

.mobile-not {
    display: none;
}

.desktop-only {
    display: none;
}

/* Utilitary */
.container {
    max-width: var(--max-width);
    margin-inline: auto;
}



@media (width >= 768px) {
.mobile-not {
    display: flex;
}

}

@media (width >= 1024px) {
    .desktop-only {
        display: flex;
    }    
}