header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;

    & h1 {
        color: #604a52;
        font-family: "Dancing Script", sans-serif;
        font-size: 5rem;
text-align: center;
    }

& p {
    max-width: 22rem;
    width: 100%;
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-inline: auto;

    & strong {
        color: #000000;
        font-weight: 600;
        font-size: 1.05rem;
    }

    & span {
        font-size: 0.9rem;
        color: rgb(97, 95, 95);
    }
}

& #images {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-inline: auto;
}

& img {
    object-fit: cover;
    aspect-ratio: 1;
    width: 17rem;
    border-radius: 1rem;
}
}

@media (width <= 320px) {
    header {
        & h1 {
            font-size: 4rem;
        }
    }
}

@media (width >= 600px) {
    header {
& h1 {
    font-size: 7rem;
}

& p {
    font-size: 1.25rem;
}

& #images {
    padding-block: 1rem;
    flex-direction: row;
gap: 1rem;
}

    }
}
