main {
    padding-block: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 2rem;

& #variety {
    & article {
        text-align: center;
        font-family: 'Sora', sans-serif;
        
        & strong {
            font-size: 1.25rem;
            color: #604a52;
        }
    }

    & #examples {
        padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .35rem;

    & div {
        display: grid;
        gap: .5rem;
    }
        & img {
            width: 10.5rem;
            aspect-ratio: 1;
            border-radius: .5rem;
        }
    }
} 

& #inside {
    display: grid;
    border-top: 1px solid;
    padding-block: 1rem;
    & p {
        text-align: center;
        font-family: 'Sora', sans-serif;
    }

    & #animation-qualities {
    display: inline-block;
        overflow: hidden;
        height: 2.5rem;
        width: 100%;
        vertical-align: bottom;
        text-align: center;
    }
    
    & span {
        font-size: 2rem;
            display: block;
            animation: slideUp 5s 2s infinite ease;
            font-family: 'Raleway';
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.25;
        }
        
    span:nth-child(1), span:nth-child(4) {
            color: pink;
        }
    span:nth-child(2) {
            color: #c47da0;
        }
     span:nth-child(3) {
            color: #e4b2b2;
        }

& img {
    display: inline-block;
    
    width: 12rem;
    aspect-ratio: 1;
    border-radius: 1rem;
}

& figure {
    padding-block: 1.5rem;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

    }

    & #menu {
        width: 100%;
        display: grid;
        gap: 3rem;
        & h1 {
            font-family: "Dancing Script", cursive;
            font-size: 5rem;
            text-align: center;
            color: #604a52;
        }

        & h2 {
            text-align: center;
            font-family: 'Raleway';
            font-size: 1.75rem;
            text-decoration: underline;
            color: #e78e8e;
            margin-bottom: 1.5rem;
        }

        & h3 {
            background-color: #e4b2b2;
            width: 8rem;
            height: 3rem;
            border-radius: .25rem;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            display: grid;
            text-align: center;
            align-items: center;
            font-family: 'Archivo', sans-serif;
            font-weight: 500;
            font-size: 1.25rem;
            margin-bottom: .5rem;
        }

        & #cakes {
            display: grid;
            gap: 2rem;

& #layout {
display: flex;
justify-content: center;
& #round-cover, #square-mass {
    display: grid;
    gap: 2rem;
    text-align: center;

& h3 {
    justify-self: center;
}


    & #coverage, #mass {
        height: 8rem;
    }
}


}

& #flavor {
   display: grid;
justify-content: center;

   & h3 {
    justify-self: center;
   }

& #fillings {
    display: flex;
    gap: .5rem;

    & #col-1, #col-2 {
        display: grid;
        gap: .5rem;
    }

}

}

            & ul {
                display: grid;
                gap: .5rem;
                font-family: "Sora", sans-serif;

                & li {
                    font-size: .75rem;
                    text-wrap: wrap;
                }
            }
         
& span {
    font-family: 'Raleway', sans-serif;
    font-size: .875rem;
    text-align: center;
    display: inline-block;
    justify-self: center;
}

& #atention {
    display: grid;
    gap: .5rem;
}

& img {
    width: 100%;
    border-radius: 2rem;
}

        }

&  #not-cakes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

        & span, strong {
            text-align: center;
            font-family: 'Archivo';
        }

        & #candies, #choco, #truffle {
            display: grid;

& ul {
    margin-block: 1rem;
    display: grid;
    justify-content: center;
    gap: .25rem;
}

& img {
    width: 15rem;
    border-radius: 1rem;
    margin-inline: auto;
}

        }

        & strong {
            padding-block: .5rem;
            border-block: 2px solid ;
        }
        

    }

    & #social { 
        display: grid;
        gap: 2rem;
        
        & a#talk {
            background-color: #e4b2b2;
            width: 18rem;
            height: 6rem;
            border-radius: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline: auto;
            font-family: 'Raleway', sans-serif;
            font-size: 1.75rem;
            font-weight: 500;
            transition: transform 500ms ease;
        
            &:hover {
                transform: translateY(-1rem);
            }
        
        }
        
        & #instagram {
            display: grid;
            gap: 1rem;
            align-items: center;
            & span {
                display: inline-block;
                font-family: 'Sora', sans-serif;
                text-align: center;
            }
            
            & a {
                justify-self: center; 
                width: 7rem;
                aspect-ratio: 1;
        transition: transform 500ms ease;
        
            & img {
                width: 100%;
                border-radius: 2rem;
            }
        
        &:hover {
            transform: scale(1.1);
        }
        
        }
        }
        
        & h3 {
            text-align: center;
            font-family: 'Dancing Script', sans-serif;
            font-size: 2.5rem;
        
        }
        
        }

}

@keyframes slideUp {
    0%, 22% {
        transform: translateY(0);
    }
    
    
    
    23% {
        transform: translateY(calc(-2.5rem - 15px));
    }
    
    25% {
        transform: translateY(calc(-2.5rem + 10px));
    }
    
    27% {
        transform: translateY(calc(-2.5rem - 5px));
    }
    
    29% {
        transform: translateY(calc(-2.5rem + 5px));
    }
    
    
    
    33%, 55% {
        transform: translateY(-2.5rem);
    }

    

    56% {
        transform: translateY(calc(-5rem - 15px));
    }
    
    58% {
        transform: translateY(calc(-5rem + 10px));
    }
    
    60% {
        transform: translateY(calc(-5rem - 5px));
    }
    
    62% {
        transform: translateY(calc(-5rem + 5px));
    }

   

    66%, 88% {
        transform: translateY(-5rem);
    }



89% {
    transform: translateY(calc(-7.5rem - 15px));
}

91% {
    transform: translateY(calc(-7.5rem + 10px));
}

93% {
    transform: translateY(calc(-7.5rem - 5px));
}

95% {
    transform: translateY(calc(-7.5rem + 5px));
}



100% {
    transform: translateY(-7.5rem);
}


}
